.header {
    grid-area: header;
    background-color: #f1f1f1;
    position: sticky;
    padding: 20px;
    text-align: center;
    font-size: 35px;
  }
  
  /* The grid container */
  .gridContainer {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'left left middle middle right right' 
      'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
  }

  

  .div1, .div2 {
    float: left;
    width: 150px;
    height: 35px;
    margin: 10px;
    padding: 2px;
    border: 1px solid black;
  }

  @keyframes mymove {
    50% {background: rgb(30, 238, 238) bottom right/50px 50px;}
  }

  .pActive{
    margin:10px;
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    border: 3px solid black ;
    border-radius: 20%;
    background: chartreuse;
    animation: mymove 3s infinite;
  }
  .pComplete{
    margin:10px;
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    border: 3px solid black ;
    border-radius: 20%;
    background: chartreuse;
    animation: mymove 3s infinite;
  }
  .pRemaining{
    margin:10px;
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    border: 3px solid black ;
    border-radius: 20%;
    background: orange;
    animation: mymove 3s infinite;
  }
  
  .left,
  .middle,
  .right {
    padding: 10px;
    margin: 5px;
    height: 800px;
    width: 400px;
    border: 4px solid black; /* Should be removed. Only for demonstration */
    border-radius: 7%;
  }
  
  /* Style the left column */
  .left {
    grid-area: left;
  }
  
  /* Style the middle column */
  .middle {
    grid-area: middle;
  }
  
  /* Style the right column */
  .right {
    grid-area: right;
  }
  
  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'header header header header header header' 
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right' 
        'footer footer footer footer footer footer';
    }
  }